@import url("../../styles/Global.css");

.info-list-container {
    list-style-type: none;
    padding: 0px;
}

.info-item {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    margin-bottom: 10px;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-title {
    font-size: var(--fs-400);
    padding-left: 40px;
    display: flex;
    align-self: flex-end;
}

.info-icon {
    font-size: var(--fs-500);
    color: var(--clr-secondary);
    padding-left: 10px;
}

.info-description {
    font-size: var(--fs-300);
    color: var(--clr-secondary);
    line-height: 1.25;
}

/* Styles for larger devices like large laptops and desktops */
@media (min-width: 1200px) {

    .column {
        flex-basis: calc(50% - 2rem);
        padding: 1rem 2rem;
    }
}