.form-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container > input {
    background-color: var(--clr-secondary);
    padding: 15px 10px;
    border-radius: 7px;
}

.form-container > textarea {
    background-color: var(--clr-secondary);
    padding: 10px;
    border-radius: 7px;
    height: 300px;
}

.social-media-container {
    color: var(--clr-secondary);
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-media-icon {
    color: var(--clr-secondary);
}

p {
    color: var(--clr-secondary);
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    p {
        font-size: var(--fs-400);
    }
}

/* Styles for small laptops and desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    
    .form-container {
        padding-left: 60px;
        padding-right: 60px;
    }
    
}

/* Styles for larger devices like large laptops and desktops */
@media (min-width: 1200px) {
    
    .form-container {
        padding-left: 160px;
        padding-right: 160px;
    }

    .form-header {
        padding-left: 100px;
    }

    .form-tagline {
        padding-left: 100px;
    }

    .social-media-container {
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .social-media-icon:hover {
        color: var(--clr-primary)
    }

    .social-media-icon::after {
        color: var(--clr-secondary)
    }

}