.form-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container > input {
    background-color: var(--clr-secondary);
    padding: 5px 10px;
    border-radius: 7px;
}

.form-container > textarea {
    background-color: var(--clr-secondary);
    padding: 10px;
    border-radius: 7px;
    height: 200px;
}

.social-media-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}