@import url("Global.css");
/* For typical mobile devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {

    .profile {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .heading-accent-styles {
        color: var(--clr-accent);
        font-size: 2rem;
    }
}
