@import url("Global.css");
/* For typical mobile devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {

    .listContainer {
        display: flex;
        max-height: 180px;
    }

    .columnStyles {
        margin-top: 15px;
        flex: 1;
    }

    .listItemStyles {
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 30px;
    }
    
    .linkStyle {
        font-weight: bold;
        font-size: 1em;
        vertical-align: 5%;
    }
    
    .descriptionStyle {
        font-size: 14;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 1.25
    }
    
    .listStyles {
        margin-bottom: 96px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .profileStyle {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .headingAccentStyles {
        color: var(--clr-accent);
        font-size: 2rem;
    }
}
