@import url("Global.css");

.profile {
    box-shadow: var(--shadow);
    border-radius: 10px;
}
/* For typical mobile devices */
@media (max-width: 767px) {

    .profile-container {
        margin-top: 30px;
        margin-bottom: 80px;
    }

    .profile {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .heading-accent-styles {
        color: var(--clr-accent);
        font-size: 2rem;
    }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .profile-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

/* Styles for small laptops and desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .profile-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

/* Styles for larger devices like large laptops and desktops */
@media (min-width: 1200px) {
    .profile-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }

    .main-container {
        width: min(100% - 14rem, 100ch);
    }

    .two-column-container {
    display: flex;
    justify-content: space-between;
    }

    .column-one {
        flex-basis: 44%;
    }
}