@import url("Global.css");
/* For typical mobile devices */
@media (max-width: 767px) {

    h2 {
        margin-bottom: 15px;
    }

    .project {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    p {
        font-size: var(--fs-300);
        color: var(--clr-text);
    }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* Styles for small laptops and desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    
}