@import url("Global.css");
/* For typical mobile devices */
h2 {
    margin-bottom: 15px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

p {
    font-size: var(--fs-300);
    color: var(--clr-text);
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {

    .project-container {
        padding: 30px;
    }

}

/* Styles for small laptops and desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    
    .project-container {
        padding: 35px;
    }

}

@media (min-width: 1200px) {

    .project-container {
        padding: 40px;
    }

    img {
        width: 80%;
        margin: auto;
    }
}