.skillsContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 40px;
    background-color: var(--clr-accent);
}

.devIconContainer {
    display: inline-block;
    padding: 0px 5px;
}

.devIconsList {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.devIconsList:hover{
    color: var(--clr-secondary);
}

/* For typical mobile devices */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .skillsContainer {
        margin: 30px 0px;
        padding: 20px;
        border-radius: 10px;
    }

    .devIconContainer {
        margin-right: 8px;
        margin-left: 8px;
    }

    .devIconsList {
        font-size: 1.5rem;
    }

    .faIcon {
        font-size: 3rem;
    }
    
}