@import url("../../styles/Global.css");

.column {
    display: flex;
    flex-direction: column;
}

.dev-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0 0 0;
    text-align: center;
}

.dev-icon-wide svg{
    width: 220px;
    height: 30px;
}

.dev-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/* For typical mobile devices */
/* @media (max-width: 767px) {
} */

/* Styles for tablets */
/* @media (min-width: 768px) and (max-width: 991px) {
} */

/* Styles for larger devices like large laptops and desktops */
@media (min-width: 1200px) {


    figcaption:hover {
        color: var(--clr-primary);
    }
}