@import url("../../styles/Global.css");

@media (max-width: 767px) {
  
  .nav-styles {
      display: flex;
      justify-content: flex-end;
  }
  
  .menu-items-styles {
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9998;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    overflow: auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 40px;
  }

  .menu-bar {
    display: block;
    color: var(--clr-secondary);
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 0px;
  }
  
  .nav-button-styles {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
  }

  .open {
    transform: translateY(0);
  }
  
  .closed {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-header {
    font-size: 2rem;
    font-weight: bold;
  }

  .icon-open {
    color: var(--clr-secondary);
    position: fixed;
    z-index: 9999;
    right: 30px;
  }

  .icon-closed {
    color: var(--clr-accent);
  }
  
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {

  .menu-items-styles {
    color: var(--clr-primary);
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }

  .menu-bar{
    margin-left: 20px;
  }

  .nav-button-styles {
    display: none;
  }

  .menu-header {
    display: none;
  }

}

/* Styles for small laptops and desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-items-styles {
    color: var(--clr-primary);
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }

  .menu-bar{
    font-size: var(--fs-500);
    margin-left: 20px;
  }

  .nav-button-styles {
    display: none;
  }

  .menu-header {
    display: none;
  }
}

/* Styles for larger devices like large laptops and desktops */
@media (min-width: 1200px) {
  .menu-items-styles {
    color: var(--clr-primary);
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }

  .menu-bar{
    margin-left: 20px;
  }

  .nav-button-styles {
    display: none;
  }

  .menu-header {
    display: none;
  }
}