@import url("../../styles/Global.css");
.navStyles {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  
  .menuItemsStyles {
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9998;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    overflow: auto;
    padding-top: 60px;
    padding-left: 20px;
  }

  .menuBar {
    display: block;
    color: var(--clr-secondary);
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 0px;
  }
  
  .navButtonStyles {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    z-index: 9999;
  }

  .open {
    transform: translateY(0);
  }
  
  .closed {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .menuHeader {
    font-size: 2rem;
    font-weight: bold;
  }

  .iconOpen {
    color: var(--clr-secondary);
  }

  .iconClosed {
    color: var(--clr-accent);
  }
  
